<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.blog.mapper.ArticleMapper">
    <!--分页查询文章-->
    <select id="pageQuery" resultType="com.project.blog.pojo.vo.ArticleHomePageVO">
        select article.id,article.title,article.description,article.content,user.username as author,user.avatar as
        author_avatar,article.update_time from article join user on article.user_id = user.id
        where article.deleted = 0
        order by article.update_time desc
    </select>
    <!--查询文章详情-->
    <select id="detail" resultType="com.project.blog.pojo.vo.ArticleDetailVO">
        select article.id, article.title, article.content, article.update_time, user.id as user_id, user.username as author, user.avatar
        from article
                 join user on article.user_id = user.id
        where article.id = #{id}
    </select>
</mapper>
